.card-header {
    padding: .75rem 1.75rem;
}

.pt-2_7, .py-2_7 {
    padding-top: .7rem !important;
}

.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
}

.shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
}

.shadow-lg {
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175) !important;
}

.border-rounded-6 {
    border-radius: 6px !important;
}

.media i {
    font-size: 2em;
}

.media .media-body {
    position: relative;
    margin-left: 10%;
    margin-top: 3%;
}

.cf:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

* html .cf {
    zoom: 1;
}

*:first-child + html .cf {
    zoom: 1;
}

/**
 * Nestable Extras
 */

.nestable-lists {
    display: block;
    clear: both;
    padding: 30px 0;
    width: 100%;
    border: 0;
    border-top: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
}

.dd-handle {
    height: 40px;
}

#nestable2 .dd-handle {
    color: #fff;
    border: 1px solid #999;
    background: #bbb;
    background: -webkit-linear-gradient(top, #bbb 0%, #999 100%);
    background: -moz-linear-gradient(top, #bbb 0%, #999 100%);
    background: linear-gradient(top, #bbb 0%, #999 100%);
}

#nestable2 .dd-handle:hover {
    background: #999;
}

#nestable2 .dd-item > button:before {
    color: #fff;
}

@media only screen and (min-width: 700px) {
    .dd {
        float: left;
        width: 100%;
    }

    .dd + .dd {
        margin-left: 2%;
    }
}

.dd-hover > .dd-handle {
    background: #2ea8e5 !important;
}

/**
 * Nestable Draggable Handles
 */

.dd3-content {
    display: block;
    /* height: 30px; */
    height: 40px;
    margin: 5px 0;
    /* padding: 5px 10px 5px 40px; */
    padding: 8px 10px 5px 52px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid #ccc;
    background: #fafafa;
    background: -webkit-linear-gradient(top, #fafafa 0%, #eee 100%);
    background: -moz-linear-gradient(top, #fafafa 0%, #eee 100%);
    background: linear-gradient(top, #fafafa 0%, #eee 100%);
    -webkit-border-radius: 3px;
    border-radius: 3px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-size: 15px;
}

.dd3-content-success {
    border: 2px solid #28a745 !important;
}

.dd3-content:hover {
    color: #007bff;
    background: rgba(0,0,0,.03);
}

.dd3-content-success:hover {
    color: #28a745 !important;
}

.dd-dragel > .dd3-item > .dd3-content {
    margin: 0;
}

.dd3-item > button {
    margin-left: 30px;
}

.dd3-handle {
    position: absolute;
    margin: 0;
    left: 0;
    top: 0;
    cursor: pointer;
    /* width: 30px; */
    width: 40px;
    text-indent: 30px;
    white-space: nowrap;
    overflow: hidden;
    border: 1px solid #aaa;
    background: #ddd;
    background: -webkit-linear-gradient(top, #ddd 0%, #bbb 100%);
    background: -moz-linear-gradient(top, #ddd 0%, #bbb 100%);
    background: linear-gradient(top, #ddd 0%, #bbb 100%);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.dd3-handle:before {
    content: '≡';
    display: block;
    position: absolute;
    left: 0;
    /* top: 1px; */
    top: 5px;
    width: 100%;
    text-align: center;
    text-indent: 0;
    color: #fff;
    font-size: 20px;
    font-weight: normal;
}

.dd3-handle:hover {
    background: #ddd;
}

.layout-boxed .content-wrapper {
    z-index: 10 !important;
}

.layout-boxed .main-header {
    z-index: 11 !important;
}
.uk-navbar-dropdown-nav > li > a {
    color: #999 !important;
}

.atividade-actions i,
.item-actions i,
.openerCss i {
    cursor: pointer;
}

.mr-6,
.mx-6 {
  margin-right: 3.5rem !important;
}

.mr-7,
.mx-7 {
  margin-right: 4rem !important;
}

.mr-8,
.mx-8 {
  margin-right: 4.5rem !important;
}

.mr-9,
.mx-9 {
  margin-right: 5rem !important;
}

.mr-9_35,
.mx-9_35 {
  margin-right: 5.35rem !important;
}

.mr-10,
.mx-10 {
  margin-right: 5.5rem !important;
}

.uk-card > .overlay,
#atividades > .overlay {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.uk-card .overlay,
#atividades > .overlay {
    border-radius: .25rem;
    -ms-flex-align: center;
    align-items: center;
    background: rgba(255,255,255,.7);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 50;
}

.uk-card .overlay.dark,
#atividades > .overlay {
    background: rgba(0,0,0,.5);
}

.text-white {
    color: white !important;
}

.openerCss {
    display: inline-block !important; /* Default value */
    float: left !important; /* Default value */
    width: 18px !important;
    height: 18px !important;
    margin-left: -7px !important;
    margin-right: .2rem !important;
    background-position: center center !important; /* Default value */
    background-repeat: no-repeat !important; /* Default value */
}

.placeholderClass {
    background-color: rgb(241 241 241) !important;
}

.hintClass {
    background-color:#eeeeee !important;
    border:1px dashed rgb(241 241 241) !important;
}

.hintWrapperClass {
    background-color:#c7c7c7 !important;
    border:1px dashed rgb(241 241 241) !important;
}

ul.listsCss {
    background-color: rgb(241 241 241) !important;
    /*border:1px dashed #c7c7c7 !important;*/
    list-style: none !important;
    margin-top: -10px !important;
    padding-bottom: .3rem !important;
    padding-top: 1rem !important;
}

.listsCss li:last-child{
    margin-top: .5rem !important;
    border: none !important;
}

.listsCss li:first-child{
    margin-top: .2rem !important;
    border: none !important;
}

.item-actions {
    z-index: 1030 !important;
    position: absolute;
    float: right !important;
    margin-left: 68% !important;
    margin-top: -2.2rem !important;
    width: 93px !important;
}

.corrige-item-actions {
    margin-top: -6rem !important;
}

.corrige-item-actions-subitem {
    margin-left: 60% !important;
}

.item-actions:hover {
    display: block !important;
}
